$screenMid: 415px;
$screenWidth: 768px;
$screenBig: 1200px;
.theme-color {
  background: linear-gradient(-135deg, #0AC4BA 0%, #2BDA8E 100%);
}
.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin backImg($url) {
  background: url($url) no-repeat 0 0;
  background-size: 100% 100%;
}
