body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
// body, button, input, select, textarea { font-size:12px; }
html,body {width: 100%;height: 100%;}
h1, h2, h3, h4, h5, h6{ font-size:1.2rem; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:1.2rem; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:active { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:1.4rem; }
button { background: none;outline: none; }
table { border-collapse:collapse; border-spacing:0; }
.hide {display: none;}
.router-link-active {
  text-decoration: none;
}
input::input-placeholder, textarea::input-placeholder {
  color: #B2B2B2;
}
input,textarea {
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: #000000;
  background: transparent;
}

html,body {
  font-size: 2.6666667vw;
}
input,textarea {
  font-size: 1.2rem;
  color: #444444;
}
@media screen and (min-width: 415px) {
  html,body {
    font-size: 10px;
  }
  input,textarea {
    font-size: 14px;
    color: #444444;
  }
  h1, h2, h3, h4, h5, h6{ font-size:14px; }
}
@media screen and (min-width: 960px) {
  html,body {
    font-size: 12px;
  }
}
@media screen and (min-width: 1280px) {
  html,body {
    font-size: 15px;
  }
}
